.peersScrollableMenuContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.connectedPeersTitle {
    font-size: clamp(1.2vw, 2.5vh, 2.5vw);
    color: var(--text-color);
    font-weight: 500;
    margin-top: 0%;
    text-align: center;
}

/* Transparent scrollbar for Chromium browsers */
.peersScrollableMenuContainer::-webkit-scrollbar {
    width: 12px;
}

.peersScrollableMenuContainer::-webkit-scrollbar-track {
    background: transparent;
}

.peersScrollableMenuContainer::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.peersScrollableMenuContainer::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
}