.resizeBubble {
    width: 15px;
    height: 15px;
    background-color: rgb(35, 58, 61);
    border: 2px solid white;
    position: absolute;
    top: -7px;
    right: -7px;
    cursor: sw-resize;
    z-index: 4;
    border-radius: 50%;
}

.onScreenRemoteStreamContainer{
    position: absolute;
    cursor: grab;
    border: 2px dashed white;

    animation: appearFromNothing 0.3s ease forwards;
}

.onScreenRemoteStreamContainer video{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

@keyframes appearFromNothing {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}