:root {
  --primary-color: rgba(59, 64, 160, 0.3);
  --secondary-color: rgba(165, 165, 165, 0.3);
  --background-color: linear-gradient(145deg, #354662e9, #3c4451e9);
  --text-color: #ffffff;
  --secondary-text-color: #000000;
  --font-family: 'Ubuntu', sans-serif;
  --edit-background-color: rgba(62, 62, 62, 0.6);

  background-color: var(--edit-background-color);
}

body {

  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: center;
  font-family: var(--font-family);
}

.areaToRecord {
  width: inherit;
  height: inherit;
  margin: inherit;
  padding: inherit;
  position: absolute;

  isolation: isolate;
  transform-style: flat;

  
}

.pressEnterToConfirmAreaText {
  margin-top: 43%;
  text-align: center;
  font-size: 3vw;
  color: white;
  opacity: 0.5;
}

